body {
    font-family: sans-serif;
    background-color: #CCC !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.body {
	flex: auto 1 0;
}

.each-card-wrap {
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	transition: cubic-bezier(0.65, 0.05, 0.36, 1) 300ms;
}

.each-card-wrap:hover {
	background-color: #fff;
	transition: cubic-bezier(0.65, 0.05, 0.36, 1) 300ms;
}

.title-card-wrapper h3 {
	margin-top: 12px;
    font-size: 20px;
}

.radio-group .radio-choice .check-input {
	margin: auto;
}

.card-header.card-kepala {
	display: flex; 
	flex-direction: column-reverse;
	position: sticky;
    /* width: 40%; */
    background: #f0f1f2;
    top: 0px;
}