
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.radioform > .radiogroup > input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  transition: all 200ms ease-in-out;
}

.radioform > .radiogroup > label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin-bottom: 0 !important;
}

.radioform > .radiogroup > input[type=radio]:checked + label {
  color: #ccc8ce !important;
  background: #525252 !important;
  transition: all 150ms ease-in-out;
}

.radioform > .radiogroup > input[type=radio]:not(:focus):hover + label:not(:focus):hover {
  color: black;
  background: #d9d9d9;
  transition: all 200ms ease-in-out;
}

.radioform > .radiogroup > label + .radioform > .radiogroup > input[type=radio] + .radioform > .radiogroup > label {
  border-left: solid 3px #525252;
}

.radioform .radiogroup {
  border: solid 3px #525252;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#countdownkolom {
  margin-left: 1vh;
  display: none;
}

.break {
  background-color: #3664e3 !important;
  animation: breakglow 1s infinite alternate;
  transition: all 200ms ease-in;
}

.runningout {
  background-color: red !important;
  transition: all 200ms ease-in;
  animation: warningglow 500ms infinite alternate;
}

@keyframes warningglow {
  from {
    box-shadow: 0 0 4px -4px red;
  }
  to {
    box-shadow: 0 0 4px 4px red;
  }
}

@keyframes breakglow {
  from {
    box-shadow: 0 0 2px -2px #3664e3;
  }
  to {
    box-shadow: 0 0 2px 2px #3664e3;
  }
}

#loader {
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}